[Unit]
Description=avalon-nodejs
After=syslog.target

[Service]
Environmemt=AVALON_NODEJS_PORT=3000
Type=simple
User=root
ExecStart=/usr/bin/nodejs %/path/to/this/project%/index.js
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
